# Compression

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/x-javascript application/xhtml+xml application/xml application/rss+xml application/atom+xml application/x-httpd-php application/x-httpd-fastphp application/x-httpd-eruby application/postscript image/svg+xml

# Deny access to directory listing and Follow symbolic links

Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex index.php index.html index.htm mtview.php
IndexIgnore *

# Redirect errors to custom error page

# ErrorDocument 400 /error/
# ErrorDocument 401 /error/
# ErrorDocument 403 /error/
# ErrorDocument 404 /error/
# ErrorDocument 405 /error/
# ErrorDocument 406 /error/
# ErrorDocument 407 /error/
# ErrorDocument 408 /error/
# ErrorDocument 409 /error/
# ErrorDocument 410 /error/
# ErrorDocument 500 /error/
# ErrorDocument 501 /error/
# ErrorDocument 502 /error/
# ErrorDocument 503 /error/

# Redirect pagination to proper script

RewriteEngine On

RewriteRule ^page([0-9]+)/?$  index_page.html?offset=$1 [NC]

# Redirect links to assets from other domains

RewriteCond %{HTTP_REFERER} !^http://(www\.)?appden\.com/ [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule ^(.*)/[^/]+\.(pkg|dmg|zip)$ $1/ [R,NC,L]

# Prevent accessing hidden files

RewriteRule ^(.*/)?\.[^\.]+$ - [F,NS,L]

# Automatic translation from Google

RewriteRule ^(.*/)?(ar|bg|zh-CN|zh-TW|hr|cs|da|nl|fi|fr|de|el|hi|it|ja|ko|no|pl|pt|ro|ru|es|sv)$ http://www.google.com/translate_c?hl=$2&sl=en&u=http://appden.com/$1 [NC,L]

# Movable Type Dynamic Pages

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)(\?.*)?$ mtview.php$2 [L,QSA]

# Feedburner

RewriteCond %{HTTP_USER_AGENT} !^(FeedBurner|FeedValidator) [NC]
RewriteCond %{QUERY_STRING} !debug [NC]
RewriteRule ^atom.xml http://feeds2.feedburner.com/appden [L,R=302]

