<div class="entry">
	<h2>
		{% if detail %}
			{{ post.title }}
		{% else %}
			<a href="{{ post.url }}">{{ post.title }}</a>
		{% endif %}
	</h2>
	
	<div class="entry-date">{{ post.date | date:'%b <div>%d</div> %Y' }}</div>
	
	<div class="entry-contents">
		{% if detail %}
			{{ content }}
		{% else %}
			{{ post.content }}
		{% endif %}
	</div>
	
	<div class="entry-footer">
		<a class="entry-comments" href="{{ post.url }}#disqus_thread">0</a>
		<p>
			Posted by {{ site.author.name }} on {{ post.date | date_to_long_string }}
		</p>
		<p>
			Filed in
			{{ post.categories | array_to_sentence_string }}
			{% unless post.tags == empty %}
				and tagged
				{{ post.tags | array_to_sentence_string }}
			{% endunless %}
		</p>
	</div>
</div>
