
{% if site.about and page.permalink != '/about/' %}
	<div class="widget">
		<h3><a href="/about/">About Me</a></h3>
		<p>{{ site.about }}</p>
	</div>
{% endif %}

{% if page.title %}
	<div class="widget">
		<h3>Recent Entries</h3>
		<ul>
			{% for post in site.posts limit:5 %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if site.author.twitter %}
	<div class="widget">
		<h3><a href="http://twitter.com/{{ site.author.twitter }}">Latest Tweets</a></h3>
		<div id="tweets"></div>
	</div>
{% endif %}

{% if site.bookmarks %}
	<div class="widget">
		<h3>Good Reads</h3>
		<ul>
			{% for bookmark in site.bookmarks %}
				<li><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
