<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		
		{% for css in site.css %}
			<link rel="stylesheet" href="{{ css }}" type="text/css" />
		{% endfor %}
		
		{% for css in page.css %}
			<link rel="stylesheet" href="{{ css }}" type="text/css" />
		{% endfor %}
	</head>
	<body>
		<div id="header">
			<h1>
				<a href="{{ site.url }}">{{ site.title }}</a>
			</h1>
			
			<div>
				<span>/*</span> {{ site.comment }} <span>*/</span>
			</div>
			
			<a href="{{ site.feed }}" id="subscribe">Subscribe</a>
			
			{% include nav.html %}
		</div>
		
		<div id="content">
			<div id="alpha">
				{{ content }}
			</div>
			
			<div id="beta">
				{% if page.sidebar != false %}
					{% include sidebar.html %}
				{% endif %}
			</div>
			
			<div class="clear"></div>
		</div>
		
		<div id="footer">
			<div id="about">
				{% for phrase in site.footer %}
					<div>
						<h6>{{ phrase.verb }}</h6>
						{{ phrase.action }}
					</div>
				{% endfor %}
			</div>
			<div id="copyright">
				<div>Design by <a href="http://ipsleung.com">Iris Leung</a></div>
				<div>&copy; Copyright 2009, AppDen. All Rights Reserved.</div>
			</div>
		</div>
		
		{% for js in site.js %}
			<script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
		{% endfor %}
		
		{% for js in page.js %}
			<script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
		{% endfor %}
	</body>
</html>